.counter {
    border: 1px solid darkblue;
    padding: 30px;
    width: 300px;
    left: 0;
    right: 0;
    margin: 30px auto;
    }
    .counter span.value {
    margin-left: 10px;
    color: blue;
    }